<!doctype html>
<html>
    <head></head>
    <body>
        <div id="app">
            <!-- It is recommended to provide a key attribute with v-for whenever possible -->
            <!-- arr iter -->
            <div v-for="(v, i) of arr" :key="i">v : {{ v }}, i : {{i}} </div>
            <!-- obj iter -->
            <div v-for="(v, k, i) in obj" :key="k">v : {{ v.value }}, k : {{k}}, i : {{i}} </div>
        </div>
        <script src="https://unpkg.com/vue@next"></script>
        <script src="app.js"></script>
    </body>
</html>